/* Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}



/* Banner Slider */
.banner-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.7s ease-in-out;
}
.slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

/* Products Section */
.products {
    padding: 50px 20px;
    background-color: #fff;
}

.products h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.product p {
    font-size: 16px;
    color: #666;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
